[Unit]
Description=Announce trooper
BindsTo=trooper@%i.service
After=trooper@%i.service

[Service]
ExecStart=/bin/sh -c "while true; do etcdctl set /services/troopers/%m/trooper@%i.service '{ \"ID_Machine\": \"%m\", \"port\": 490%i }' --ttl 10;sleep 5;done"
ExecStop=/usr/bin/etcdctl rm /services/troopers/trooper@%i

[X-Fleet]
MachineOf=trooper@%i.service
